<div class="center-container">
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Registrarse</span>
    
                <form>

                    <div class="input-field">
                        <input type="text" placeholder="Identificación" required>
                        <i class="bx bx-user"></i>
                    </div>

                    <div class="input-field">
                        <select required>
                            <option value="" disabled selected>Selecciona el tipo de Identificación</option>
                            <option value="rol1">Tarjeta de Identidad</option>
                            <option value="rol2">Cedula de Ciudanania</option>
                            <option value="rol3">Carnet de Conducir</option>
                            <option value="rol4">NIT</option>
                        </select>
                        <i class="bx bx-user-plus"></i>
                    </div>

                    <div class="input-field">
                        <input type="text" placeholder="Ubicación" required>
                        <i class="bx bx-user"></i>
                    </div>

                    <div class="input-field">
                        <input type="text" placeholder="Teléfono" required>
                        <i class="bx bx-user"></i>
                    </div>

                    <div class="input-field">
                        <input type="text" placeholder="Correo" required>
                        <i class="bx bx-user"></i>
                    </div>

                    <div class="input-field">
                        <input type="text" placeholder="Usuario" required>
                        <i class="bx bx-user"></i>
                    </div>

                    <div class="input-field">
                        <input type="password" class="password" placeholder="Contraseña" required>
                        <i class="bx bx-shield-alt-2"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="input-field">
                        <select required>
                            <option value="" disabled selected>Selecciona el tipo de Rol</option>
                            <option value="rol1">Administrador</option>
                            <option value="rol2">Cliente</option>
                        </select>
                        <i class="bx bx-user-plus"></i>
                    </div>
    

    
                    <div class="input-field button">
                        <input type="button" value="Registrarse">
                    </div>
                </form>
    
                
            </div>
        </div>
    </div>
</div>
